@import "@/variables.scss";

.messenger-content-sidebar {
  width: 364px;
  min-width: 364px;
  max-width: 364px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
  padding: 14px 0;

  top: -14px;
  height: calc(100% + 14px);
  &.messenger-content-sidebar_dark {
    background: $messages-color__dark;
  }
  &.messenger-content-sidebar_light {
    background: $messages-color__light;
  }
}

.messenger-content-sidebar__container{
    margin-top: 15px;
}