.links-header{
    max-width: 1200px;
    width: 100%;
    text-align: left;
    padding: 10px 0px 41px 0px;
    height: auto;
    &__block{
        display: flex;
        justify-content: space-between;
        width: 150px;
        &_question{
            cursor: pointer;
            &:hover .settings-partners__message{
                display: block;
                transition: all 0.3s;
                z-index: 1;
            }
        }
    }
    &__title{
        font-size: 18px;
        color: #CFCFE4;
        margin-top: -4px;
        font-weight: 400;
    }
    &__generation-links{
        margin-top: 16px;
        &_title{
            margin: 0;
            font-size: 12px;
            color: #CFCFE4;
        }
    }
    &__generation-links-create{
        margin-top: 6px;
        &_input{
            background: #1D1D35;
            padding: 10px 10px 10px 10px;
            max-width: 475px;
            width: 100%;
            border-radius: 6px;
            margin-right: 16px;
            color: #CFCFE4;
            border: 1px solid #252544;
            &::placeholder{
                color: #40406B;
            }
        }
        &_button{
            padding: 10px 12px;
            background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
            border-radius: 6px;
            color: #1D1D35;
            cursor: pointer;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.links__bottom{
    width: 100%;
    height: 450px;
    text-align: left;
    overflow-x: hidden;
    height: 100%;
    &_table{
        width: 100%;
        padding: 32px 0px 0px 32px;
        border-collapse: collapse;
        height: calc(100% - 100px);
        &-row{
            background: #252544;
            border-radius: 6px 6px 0px 0px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1440px;
        }
        &-cell{
            font-size: 10px;
            color: #9797BB;
            padding: 12px 20px 12px 20px;
            width: 20%;
            &:nth-child(2){
                width: 40%;
            }
            &:nth-child(3){
                text-align: right;
            }
            &:nth-child(4){
                text-align: right;
            }
        }
    }
}

.settings-partners__message{
    position: absolute;
    margin-top: -8px;
    margin-left: 20px;
    display: none;
    &-arrov{
        border: 10px solid transparent;
        border-bottom: 10px solid #F0F0FA;
        width: 5px;
        margin-left: -22px;
    }
    &-text{
        width: 400px;
        background: #F0F0FA;
        color: #252544;
        padding: 18px 18px 18px 18px;
        border-radius: 6px;
        margin-left: -35px;
        font-size: 12px;
    }
}

.row-data-none{
    color: #9797BB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 160px);
    background: #1D1D35;
    text-align: center;
    flex-direction: column;
    &__button{
        margin: 27px auto;
        padding: 8px 24px;
        background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
        color: #1D1D35;
        font-size: 12px;
        border-radius: 5px;
        width: 230px;
    }
    & a{
        color: #9797BB;
    }
}