
.user-info__header {
  height: 86px;
  position: relative;
  padding: 20px 0 36px 51px;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: left;
  display: flex;
  align-items: center;

  color: var(--create-folder-header-color);
  border-bottom: 1px solid var(--search-input-color);
  &:before {
    content: '';
    position: absolute;
    left: 17px;
    width: 9px;
    height: 9px;
    border-bottom: 1.5px solid #757589;
    border-left: 1.5px solid #757589;
    transform: rotate(45deg);
  }
}
.user-info__container {
  margin-top: 6px;
  padding: 0 17px;
  width: 100%;
  display: flex;
  align-items: center;
}
.user-info__ava-container {
  background: var(--green-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info__ava {
  border-radius: 50%;
  width: 76px;
  height: 76px;
  padding: 1px;
  background: var(--green-color);
  border: 2px solid var(--messages-color);
}
.user-info__login {
  margin-left: 38px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  background: var(--green-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}