.messenger-content-nav{
  //10 padding у создания папки и 12 - отступ от низа
  height: calc(100% + 22px);
  width: 127px;
  min-width: 127px;
  max-width: 127px;
  background: var(--left-bar-color);
}
.messenger-content-nav__ava-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.messenger-content-nav__folder-container{
  padding: 19px 9px 0;
  //85 автарка
  //65 "создать папку" + 10 padding создания папки
  //1 hr
  height: calc(100% - 85px - 75px - 1px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.messenger-content-nav__folder-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.messenger-content-nav__login {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.messenger-content-nav__pseudo-ava {
  margin-bottom: 7px;
}