.messenger-content-nav{
  height: 100%;
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  background: var(--left-bar-color);
}
.messenger-content-nav__ava-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78px;
}
.messenger-content-nav__folder-container{
  padding: 0 0 19px 0;
  height: calc(100% - 78px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.messenger-content-nav__folder-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.messenger-content-nav__hamburger {
  path {
    fill: var(--default-svg-fill);
  }
}