.messenger-content-dialogs {
    padding: 18px 0;

}

.messenger-content-dialogs__parameters-container {
    text-align: left;
    margin-top: 20px;
    padding: 0 16px 7.4px;
    border-bottom: 1px solid var(--search-input-color);
}

.messenger-content-dialogs__parameters-button {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: var(--font-color);
    position: relative;
}
.messenger-content-dialogs__parameters-icon {
    margin-left: 8px;
    transition: transform .3s ease;
    &.messenger-content-dialogs__parameters-icon_reverse {
        transform: rotate(-180deg);
    }
}
.messenger-content-dialogs__parameters {
    background: var(--search-input-color);
    text-align: left;
    overflow: hidden;
    height: 127px;
}
.messenger-content-dialogs__parameter {
    padding: 0 16px;
    margin: 8px 0;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: var(--font-color);
}

.height-transition-enter-active, .height-transition-leave-active {
    transition: height .3s ease;
}
.height-transition-enter-from, .height-transition-leave-to {
    height: 0;
}

.messenger-search-group {
    text-align: left;
    padding: 0 16px;
    margin-top: 17px;
}
.messenger-search-group__dialogs {
    margin-top: 9px;
}
.messenger-search-group__dialog {
    padding: 7px 0;
    border-top: 1px solid rgba(117, 117, 137, 0.22);
}

.messenger-content-dialogs__loader {
    margin-top: 20px;
}


