.settings-instagrams__header {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--separator-color); */

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: var(--settings-header-color);
  &_enter{
    color: #1D1D35;
    font-size: 12px;
    padding: 8px 24px 8px 14px;
    background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
    border-radius: 6px;
    font-weight: 400;
    &-svg{
      padding-right: 10px;
      font-weight: 500;
    }
  }
}

.settings-instagrams__folder{
  display: flex;
  color: #9797BB;
  margin-bottom: 18px;
  font-size: 14px;
}

.settings-instagrams__scroll-container {
  height: calc(100% - 79px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.settings-instagrams__content {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
}
.settings-instagrams__element {
  width: 259px;
  height: 183px;
  border-radius: 9px;
  background: #252544;
  margin: 0 8px 27px;
  padding: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings-instagrams__header-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_img{
    width: 40px;
    border-radius: 100%;
  }
  &_status{
    font-size: 12px;
    font-weight: 400;
    color:#5EC075;
    background: #5EC0751A;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 10px;
    border-radius: 22px;
    &-error{
      font-size: 12px;
      font-weight: 400;
      color:#EB5757;
      background: #EB57571A;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 4px 10px;
      border-radius: 22px;
    }
  }
}
.settings-instagram__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_del{
    color: #EB5757;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #40406B;
    padding: 4px 12px;
    border-radius: 6px;
  }
  &_active{
    color: #5EC075;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #40406B;
    padding: 4px 12px;
    border-radius: 6px;
  }
  &_disable{
    color: #40406B;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #40406B;
    padding: 4px 12px;
    border-radius: 6px;
  }
}
.settings-instagrams__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #CFCFE4;
  margin-top: 10px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
  overflow: hidden;
  span {
    max-width: calc(100% - 80px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    align-items: center;
  }
}
.settings-instagrams__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--settings-whatsapp-sub-color);
  text-align: left;
  &.settings-instagrams__phone_active {
    background: var(--green-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.settings-instagrams__phone_warning {
    background: var(--yellow-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.settings-instagrams__phone_error {
    background: var(--red-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.settings-instagrams__action-container {
  display: flex;
  align-items: center;
}
.settings-instagrams__action {
  border-radius: 3px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  &:last-of-type {
    margin: 0;
  }
}

.element-none{
  width: 100%;
  color: #9797BB;
  font-size: 18px;
  background: #252544;
  text-align: center;
  align-items: center;
  /* height: calc(100vh - 30vh); */
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 600px;
  max-height: 1500px;
  border-radius: 6px;
  flex-direction: column;
  &__button{
    margin-top: 34px;
    color: #1D1D35;
    background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
    padding: 8px 26px;
    border-radius: 6px;
  }
}

.settings-instagram__buttons_active-disabled{
  background: transparent;
  border: 1px solid #6a709d;
  background: #6a709d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 6px;
  padding: 8px 16px;
}