.profit__header{
    width: 100%;
    &-list{
        width: 100%;
        display: flex;
        padding: 12px 0px 32px 0px;
        border-bottom: 2px solid #40406B;
        &_item{
            height: 108px;
            width: 100%;
            min-width: 180px;
            background: #252544;
            border-radius: 6px;
            border: 1px solid #252544;
            text-align: left;
            padding: 14px 10px 14px 10px;
            display: flex;
            flex-direction: column;
            margin-right: 14px;
            &:last-child{
                margin-right: 0px;
            }
            &-status{
                font-size: 12px;
                color: #9797BB;
                margin: 0px;
            }
            &-value{
                font-size: 18px;
                color: #F0F0FA;
                margin: 0px;
                padding: 6px 0px 10px;
                border-bottom: 2px solid #40406B;
                font-weight: 600;
            }
            &-percent{
                font-size: 12px;
                color: #5EC075;
                padding-top: 10px;
            }
            &-count{
                font-size: 18px;
                color: #F0F0FA;
                margin: 0px;
                padding-top: 52px;
                position: absolute;
            }
        }
        &_withdrawal{
            display: flex;
            flex-direction: column;
            text-align: left;
            &-title{
                margin: 0;
                font-size: 12px;
                color: #CFCFE4;
            }
            &-input{
                margin-top: 6px;
                background: #252544;
                padding: 9px 10px 9px 10px;
                border-radius: 6px;
                border: 1px solid #363663;
                color: #CFCFE4;
                ::placeholder{
                    color: #40406B;
                }
            }
            &-button{
                margin-top: 55px;
                padding: 10px 20px 10px 20px;
                border-radius: 6px;
                background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
                width: 116px;
                color: #1D1D35;
                cursor: pointer;
            }
        }
    }
}

.profit__bottom{
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
    &_title{
        padding: 22px 0px 20px 0px;
        color: #CFCFE4;
        font-size: 18px;
        font-weight: 400;
    }
    &_table{
        max-width: 100%;
        width: 100%;
        padding: 32px 0px 0px 32px;
        border-collapse: collapse;
        &-row{
            background: #252544;
            border-radius: 6px 6px 0px 0px;
            display: flex;
            
            padding: 12px 20px;
        }
        &-cell{
            font-size: 10px;
            color: #9797BB;
            width: 20%;
            &:nth-child(1){
                width: 20%;
            }
            &:nth-child(2){
                width: 20%;
            }
            &:nth-child(4){
                width: 25%;
            }
            &:last-child{
                text-align: right;
                margin-left: auto;
                width: 130px;
            }
        }
    }
}
.partners__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_title{
        color: #CFCFE4;
        font-size: 18px;
        font-weight: 400;
    }
    &_button{
        padding: 8px 24px;
        border-radius: 6px;
        background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
        color: #1D1D35;
        font-size: 12px;
        &-disable{
            background: #252544;
            padding: 8px 24px;
            border-radius: 6px;
            color: #CFCFE4;
            font-size: 12px;
        }
    }
}
.row-data-none{
    color: #9797BB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 370px;
    background: #1D1D35;
    border-radius: 0px 0px 6px 6px;
}

.history{
    height: 350px;
    overflow-x: hidden;
}