.messenger-content-personal-messages{
  width: 100%;
  flex: 7;
}

.messenger-content-personal-messages__header{
  height: 79px;
  display: flex;
  align-items: center;
  padding: 0 29px;
}
.messenger-content-personal-messages__name-container{
  margin-left: 16px;
}
.messenger-content-personal-messages__name{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--font-color__dark);
  text-align: left;
}
.messenger-content-personal-messages__date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--folder-color);
  text-align: left;
}
