.messenger-content-personal-messages{
  position: relative;
  width: calc(100% - 156px - 365px);
  max-width: calc(100% - 156px - 365px);
  height: calc(100% - 124px);
  top: 30px;
  border-radius: 7px;
  flex-shrink: 5;
  overflow: hidden;
  left: 96px;
  @media(max-width: 1440px) {
    width: calc(calc(100% - 90px) * 0.725);
    max-width: calc(calc(100% - 166px) * 0.725);
  }
}

.messenger-content-personal-messages__header{
  height: 78px;
  display: flex;
  align-items: center;
  padding: 0 45px;
  background-color: var(--messanger-content);
  &.messenger-content-personal-messages__header_header {
    background: var(--left-bar-color);
    align-items: flex-start;
  }
  .selected-dialog-container{
    position: relative;
    &__isOnline{
      position: absolute;
      top: 75%;
      right: 10%;
    }
  }
}
.messenger-content-personal-messages__name-container{
  margin-left: 18px;
  .messenger-content-personal-messages__name-icon{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-top: 6px;
    display: flex;
    color: var(--user-icon-name);
    align-items:center;
    .messenger-content-personal-messages__img{
      margin-right: 6px;
    }
    .messenger-content-personal-messages__account{
      display: flex;
    }
  }

}
.messenger-content-personal-messages__name{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--font-color);
  text-align: left;
}
.messenger-content-personal-messages__date{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--sub-text-font-color);
  text-align: left;
}
.messenger-content-personal-messages__info-button {
  position: relative;
  margin-left: auto;
  background: transparent;
}
.messenger-content-personal-messages__info-container {

  border-radius: 8px;
  position: absolute;
  z-index: 1200;
  background: var(--context-background-color);

  right: 0;
  top: 100%;
  width: 191px;
}
.messenger-content-personal-messages__info-list {
  padding: 0;
  margin: 0;
  text-align: left;
}
.messenger-content-personal-messages__info-element {
  list-style-type: none;
  padding: 10px 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  transition: .3s ease;
  color: var(--user-info-settings-default-svg-fill);
  &:hover {
    background: var(--user-info-settings-hover-setting-bg);
    color: var(--font-color);
  }
}
.messenger-content-personal-messages_disabled-dialog{
  color: #575773;
  .messenger-content-personal-messages__name,.messenger-content-personal-messages__name-icon{
    color: #575773;
  }
}
.messenger-content-personal-messages__disabled-block{
  background-color: #2E2E4E;
  position: absolute;
  width: calc(100% - 92px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  top: 94px;
  text-align: center;
  padding: 20px 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #EDEDEF;
}