.settings-partners-link-change{
    width: 100%;
    height: 100%;
    background: #00000054;
    position: absolute;
    top: 0;
    left: 0;
    &__block{
        width: 520px;
        height: 280px;
        background: #252544;
        text-align: left;
        border-radius: 6px;
        margin: 20% auto;
        &_header{
            padding: 24px 24px 24px 24px;
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #1D1D35;
            &-title{
                font-size: 30px;
                color: #F0F0FA;
            }
            &-close{
            
            }
        }
        &_main{
            padding: 24px 24px 24px 24px;
            border-bottom: 1px solid #1D1D35;
            &-title{
                margin: 0px;
                font-size: 14px;
                color: #CFCFE4;
            }
            &-input{
                margin-top: 8px;
                padding: 12px 12px 12px 12px;
                color: #CFCFE4;
                width: 100%;
                border-radius: 6px;

                background: #1D1D35;
                &::placeholder{
                    color: #cfcfe495;
                }
            }
        }
        &_buttons{
            padding: 24px 24px 24px 24px;
            display: flex;
            &-access{
                padding: 8px 32px 8px 32px;
                background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
                color: #252544;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 500;
            }
            &-cansel{
                padding: 8px 32px 8px 32px;
                margin-left: 20px;

                background: none;
                color: #5EC075;
    
                border: 1px solid #5EC075;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }    
}