.settings-partners-profit-cashback{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.34);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    z-index: 1;
    &__block{
        width: 520px;
        /* height: 430px; */
        background: #252544;
        text-align: left;
        border-radius: 6px;
        margin: 20% auto;
        &_header{
            padding: 22px 24px 22px;
            border-bottom: 1px solid #1D1D35;
            height: 80px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            &-title{
                margin: 0px;
                font-size: 30px;
                color: #F0F0FA;
            }
            &-close{
                background: none;
                cursor: pointer;
            }
        }
        &_option{
            width: 100%;
            padding: 18px 24px 0px;
            &-button{
                width: 50%;
                padding: 13px 19px 13px 19px;
                background: #1D1D35;
                border-radius: 6px;
                border: 1px solid #1d1d3500;
                color: #9797BB;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                &:hover{
                    background: #40406B;
                    transition: all 0.3s;
                }
            }
        }
        &_main{
            padding: 0px 24px;
            margin-top: 25px;
            &-title{
                font-size: 14px;
                color: #CFCFE4;
                margin: 0;
            }
            &-input{
                margin-top: 8px;
                padding: 12px 12px 12px 12px;
                color: #CFCFE4;
                width: 100%;
                border-radius: 6px;
                background: #1D1D35;
                &::placeholder{
                    color: #40406B;
                }
            }
        }
        &_buttons{
            padding: 22px 24px;
            display: flex;
            &-access{
                padding: 8px 32px 8px 32px;
                background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
                color: #252544;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
            &-cansel{
                padding: 8px 32px 8px 32px;
                margin-left: 20px;

                background: none;
                color: #5EC075;
    
                border: 1px solid #5EC075;
                border-radius: 6px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }    
}

.option-active{
    border: 1px solid #5EC075;
    background: #40406B;
    color: #5EC075;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.main-card{
    border-bottom: 1px solid #1D1D35;
    padding-bottom: 22px;
}

.placeholder-error{
    &::placeholder{
        color: rgba(255, 0, 0, 0.672);
    }
}