.messages-container {
  height: calc(100% - 79px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.messages-container__input{
  position: relative;
  padding: 22px 19px ;
  width: 100%;
  max-width: 100%;
  background: var(--messages-input-wrapper-bg);
}
.messages-container-input__disabled{
  color: var(--user-icon-name);
  text-align: center;
}