.messages-container {
  //85px - шапка + 1px hr, 15px - отступ снизу для ввода сообщений
  height: calc(100% - 86px + 15px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.messages-container__input{
  position: relative;
  padding: 15px 40px 3px 29px;
  width: 100%;
  max-width: 100%;
  background: var(--footer-color);
}