.settings-finance__list{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    &_titles{
        height: 37px;
        background-color: #191933;
        &-items{
            text-align: left;
            color: #9797BB;
            font-size: 10px;
            padding-right: 140px;
            &:first-child{
                padding: 0px 200px 0px 20px;
                border-top-left-radius: 10px;
            }
            &:last-child{
                text-align: right;
                padding-right: 20px;
                border-top-right-radius: 10px
            }

            &:nth-child(5){
                /* padding-left: 100px; */
            }
        }
    }
}
.settings-finance-createAmenities{
    height: 85px;
    background: #141427;
    padding: 0px 0px 0px 20px;
    border-bottom: 2px solid #252544;
    &__cell {
        text-align: left;
        color: #CFCFE4;
        font-size: 12px;
        &:first-child{
            display: flex;
            padding-top: 30px;
            padding-left: 20px;
            font-size: 14px;
            & img{
                margin-right: 10px;
            }
        }
        &:last-child{
            text-align: right;
        }
    }
    &:last-child{
        border-bottom: none ;
    }
    &__instagram{
        display: flex;
        &_text{
            padding-left: 9px;
        }
    }
    &__whatsapp{
        display: flex;
        &_text{
            padding-left: 9px;
        }
    }
    
    &__status{
        &_name-error{
            color: #EB5757;
            background: #eb575731;
            width: 150px;
            text-align: center;
            padding: 4px 12px 4px 12px;
            border-radius: 22px;
        }
        &_name-successful{
            color: #5EC075;
            background: #5EC07531;
            width: 150px;
            text-align: center;
            padding: 4px 12px 4px 12px;
            border-radius: 22px;
        }
        &_name-completed{
            color: #DACB4A;
            background: #DACB4A31;
            width: 150px;
            min-width: 100px;
            text-align: center;
            padding: 4px 12px 4px 12px;
            border-radius: 22px;
        }
    }
    
    &__button{
        &_change{
            background: #141427;
            color: #9797BB;
            border: 1px solid #252544;
            border-radius: 6px;
            padding: 4px 20px 4px 20px;
            cursor: pointer;
            margin-right: 10px;
            &-disabled{
                background: #2e2e5a;
                color: #c2c7c36b;
                border: 1px solid #252544;
                border-radius: 6px;
                padding: 4px 20px 4px 20px;
                margin-right: 10px;
            }
        }
        &_payment{
            background: #141427;
            color: #5EC075;
            border: 1px solid #252544;
            border-radius: 6px;
            padding: 4px 20px 4px 20px;
            cursor: pointer;
            margin-right: 20px;
            &-disabled{
                background: #2e2e5a;
                color: #c2c7c36b;
                border: 1px solid #252544;
                border-radius: 6px;
                padding: 4px 20px 4px 20px;
                margin-right: 20px;
            }
        }
    }
}

.row-data-none{
    color: #9797BB;
    justify-content: center;
    padding: 100px;
    width: 100%;
}

.img-instagram{
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    border-radius: 6px;
}