.settings__wrapper{
    
    &_title{
        font-size: 18px;
        color: #CFCFE4;
    }
}
.settings__tuning{
    display: flex;
    flex: 0 0 40%;
}
.tuning__base{
    display: flex;
    flex-direction: column;
}

.base__element{
    margin-top: 26px;
    &_title{
        font-size: 12px;
        color: #CFCFE4;
    }
    &_input{
        margin-top: 6px;
        display: flex;
        border: 1px solid var(--settings-nav-border);
        border-radius: 4px;
        & span {
            width: 40px;
            background: #1D1D35;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 4px 4px 0px;
        }
    }
}
.input__element{
    padding: 10px 10px;
    width: 360px;
    background: #1D1D35;
    color: #CFCFE4;
    font-size: 14px;
    &::placeholder{
        color:#CFCFE4;
    }
}
.input__name{
    border-radius: 4px;
}
.input-select{
    width: 320px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #252544;
}

.input__block{
    width: 360px;
    height: 195px;
    background: #252544;
    border-radius: 4px;
    position: absolute;
    margin-top: 12px;
    padding: 0px 0px 0px;
    &_select{
        color: #9797BB;
        font-size: 14px;
        padding: 9px 10px;
        height: 39px;
        border: 1px solid var(--settings-nav-border);
        border-radius: 4px;
        &:hover{
            border: 1px solid #84D160;
            color: #5EC075;
            transition: all 0.3s;
        }
    }
}

.tuning__message{
    margin-top: 26px;
    margin-left: 20px;
    width: 100%;
    &_title{
        font-size: 12px;
        color: #CFCFE4;
    }
}

.settings__buttons{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #252544;
    padding-top: 29px;
    margin-top: 18%;
    &_cancel{
        background: none;
        color: #5EC075;
        font-weight: 400;
        border: 1px solid #5EC075;
        border-radius: 6px;
        padding: 8px 26px;
    }
    &_accept{
        background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
        color: #1D1D35;
        font-weight: 500;
        border-radius: 6px;
        padding: 8px 26px;
        margin-left: 18px;
    }
}
.tuning__message {
    & .settings-integration-message{
        position: relative;
        width: 90%; 
        margin-right:16px;
        .emoji-mart-static{
            bottom:30px !important;
        }
        &__title{
        font-size: 12px;
        line-height: 130%;
        color: #CFCFE4;
    
        text-align: left;
        padding-bottom: 6px;
        position: relative;
        }
        &__input{
            position: relative;
            &-elems{
            display: flex;
            width: 99%;
            left: 2px;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 10px;
            padding: 0px 10px;
            background-color: #1D1D35;
            height: 35px;
            &-files{
                display: none;
            }
            &-flex{
                display: flex;
            }
            &-emoji{
            padding-right: 12px;  
            }
            }
            &-text{
            height: 200px;
            background: #1D1D35;
            }
        }
        & .settings-integrations-form__input_test{
            margin-left: 0px; 
            padding-bottom: 45px;
            height: 297px;
            max-height: 610px;
            overflow: auto;
            background: #1D1D35;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
        width: 0;
        height: 0;
        }
    }
    .settings-integrations-form__input_test{
        margin-left: 0px; 
         padding-bottom: 45px;
         height: 297px;
         max-height: 610px;
           overflow: auto;
           
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
      width: 0;
      height: 0;
      }
}
    .elem
        .emoji-mart-static{
            position: inherit !important;
        }
    }
}