.settings-account__header {
  height: 78px;
  padding: 16px 45px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--separator-color);

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  color: var(--settings-header-color);
}
.settings-account__scroll-container {
  //30px padding
  //80px header
  height: calc(100vh - 79px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.settings-account__content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.settings-account__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-color);

  display: flex;
  align-items: center;
  text-align: left;
}
.settings-account__sub-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--search-input-placeholder-color);

  display: flex;
  align-items: center;
  text-align: left;
}
.settings-account__online-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-color);

  display: flex;
  align-items: center;
  text-align: left;
}
.settings-account__row {
  width: 100%;
  display: flex;
  padding: 13px 45px;
  border-bottom: 1px solid var(--separator-color);
  &.settings-account__row_pd-26 {
    padding: 26px 45px;
  }
  &.settings-account__row_pd-32 {
    padding: 32px 45px;
  }
  &.settings-account__row_none {
    padding: 0;
    border-bottom: none;
  }
  &.settings-account__row_jsb {
    justify-content: space-between;
  }
  &.settings-account__row_w-400 {
    width: 400px;
  }
  &.settings-account__row_w-300 {
    width: 300px;
  }
  &.settings-account__row_column {
    flex-direction: column;
  }
  &.settings-account__row_mb-24 {
    margin-bottom: 24px;
  }
}
.settings-account__first-element {
  width: 270px;
  text-align: left;
  display: flex;
  align-items: center;
}
.settings-account__last-element {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 150px;
  min-width: 150px;
  justify-content: flex-end;
  .base-button {
    width: 113px;
  }
}
.settings-account_input {
  padding: 6px 10px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;


  background: var(--modal-element-hover-bg-color);
  color: var(--font-color);
  border: 0.7px solid var(--separator-color);
  border-radius: 3px;
  width: 312px;
  text-align: left;
  &::placeholder {
    color: var(--default-svg-fill);
  }
}
.settings-account__password_error-confirm, .settings-account__password_error-old, .settings-account__password_error-length {
  position: relative;
  &:before {
    content: 'Пароли не совпадают';
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;

    position: absolute;
    top: 100%;
    color: var(--red-color);
  }
  .settings-account_input {
    border: 0.7px solid var(--red-color);
  }
}
.settings-account__password_error-old {
  &:before {
    content: 'Неверный пароль';
  }
}
.settings-account__password_error-length {
  &:before {
    content: 'Пароль должен содержать не менее 8 символов';
  }
}
.settings-account__action-button {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-decoration: underline;
  padding: 1px 0;
  cursor: pointer;
  display: block;
  background: var(--green-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--green-color);
  }
}