.messenger-content{
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  //max-width: 1400px;
  background: var(--main-color);
}

.separator{
  border: 0px none;
  height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
  clear: both; /* для очистки, если тег идет после float елемента */
  margin: 0;
  padding: 0;
  color: var(--separator-color); /*для IE */
  background-color: var(--separator-color); /*для Firefox, Opera, Safari*/
}

.messenger-content__middle-bar {
  border-radius: 15px;
  position: relative;
  padding: 18px 0;
  width: calc(calc(100vw - 127px) * 0.25);
  top: -18px;
  height: calc(100vh - 24px);
  background: var(--messages-color);
}