@import "../../variables.scss";

.messenger-content{
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 30px);
  margin: 0 auto;
  //max-width: 1400px;
  &.messenger-content_dark{
    background: $main-color__dark;
  }
  &.messenger-content_light{
    background: $main-color__light;
  }
}

.separator{
  border: 0px none;
  height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
  clear: both; /* для очистки, если тег идет после float елемента */
  margin: 0;
  padding: 0;
  &.separator_dark{
      color: $separator-color__dark; /*для IE */
      background-color:$separator-color__dark; /*для Firefox, Opera, Safari*/
  }
  &.separator_light{
      color: $separator-color__light; /*для IE */
      background-color:$separator-color__light; /*для Firefox, Opera, Safari*/
  }
}