.messenger-content{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--main-color);
}

.separator{
  border: 0px none;
  height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
  clear: both; /* для очистки, если тег идет после float елемента */
  margin: 0;
  padding: 0;
  color: var(--separator-color); /*для IE */
  background-color: var(--separator-color); /*для Firefox, Opera, Safari*/
}

.messenger-content__middle-bar {
  position: relative;

  height: 100%;
  width: 365px;
  flex-shrink: 1;
  background: var(--messenger-middle-bar-bg);
  @media(max-width: 1440px) {
    width: 27.5%;
  }
}