.settings-integrations__header {
  height: 64px;
  padding: 0px 32px 0px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-color);
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  color: var(--settings-header-color);

  &-pages {
    display: flex;
    height: 100%;
    padding-left: 80px;
    padding-top: 10px;

    &-link {
      padding-right: 52px;
      color: #9797BB;
      font-size: 16px;
      line-height: 300%;
      a {
        color: #9797BB;
        font-size: 16px;
        line-height: 300%;
        text-decoration: none;
        display: flex;
        height: 100%;
      }
    }

    &-link_active {
      color: #5EC075;
      margin-right: 52px;
      font-size: 16px;
      line-height: 300%;
      padding-right: 0px;
      border-bottom: 2px solid #5EC075;
      background: var(--green-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-name {
    // padding-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    &-svg{
      margin-right: 37px;
    }
  }
}