.settings-mailings__header {
  height: 80px;
  padding: 16px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--separator-color);

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  color: var(--create-folder-header-color);
}
.settings-mailings__scroll-container {
  //30px padding
  //80px header
  height: calc(100vh - 110px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.settings-mailings__content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
