.connect-accaunt-folder{
    &__body{
        width: 520px;
        background: #252544;
        border-radius: 4px;
        text-align: left;
    }
    &__header{
        padding: 15px 24px;
        border-bottom: 1px solid #1D1D35;
    }
    &__cup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_title{
            color: #F0F0FA;
            font-size: 24px;
            font-weight: 700;
        }
    }
    &__subtitle{
        color: #9797BB;
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
    }
    &__main{
        background: #1D1D35;
        &_title{
            color: #CFCFE4;
            font-size: 14px;
            font-weight: 400;
        }
        &_search{
            padding: 16px 24px;
            background: #1D1D35;
        }
    }
    &__list{
        width: 100%;
        height: 212px;
        /* background: #1D1D35; */
    }
    &__folder{
        display: flex;
        align-items: center;
        padding: 12px 12px 0px 12px;
        border-bottom: 1px solid #252544;
        background: #1D1D35;
        &_folders{
            display: flex;
            align-items: center;
            padding: 12px 12px 0px 44px;
            border-bottom: 1px solid #252544;
            background: #1D1D35;
        }
        &:hover{ 
            background: #40406B;
            transition: all 0.3s;
        }
    }
    &__element{
        width: 100%;
        /* margin-right: 20px; */
        padding-bottom: 12px;
        &_title{
            color: #CFCFE4;
            font-size: 16px;
            font-weight: 400;
        }
        &_subtitle{
            color: #9797BB;
            font-size: 12px;
            font-weight: 400;
            margin-top: 6px;
        }
    }
    &__select{
        margin-top: -10px;
        margin-right: 10px;
        &_folders{
            /* margin-right: 20px; */
        }
    }
    &__create{
        padding: 29px 24px 20px;
        border-bottom: 1px solid #1D1D35;
        &_title{
            color: #5EC075;
            font-size: 16px;
            font-weight: 400;
        }
        &_subtitle{
            margin-top: 20px;
            width: 308px;
            color: #9797BB;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__more{
        padding: 20px 24px 23px;
        border-bottom: 1px solid #1D1D35;
        &_title{
            color: #CFCFE4;
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__comments{
        display: flex;
        margin-top: 14px;
        &_name{
            color: #9797BB;
            font-size: 14px;
            font-weight: 400;
            margin-left: 6px;
        }
    }
    &__buttons{
        display: flex;
        padding: 15px 24px;
        align-items: center;
        &_accept{
            background: linear-gradient(45.66deg, #22A595 -40.44%, #84D160 120.07%);
            font-size: 16px;
            color: #252544;
            font-weight: 500;
            border-radius: 6px;
            padding: 8px 26px;
        }
        &_cancel{
            margin-left: 22px;
            padding: 7px 26px;
            font-size: 16px;
            font-weight: 400;
            color: #5EC075;
            border: 1px solid #5EC075;
            border-radius: 6px;
        }
    }
}

.folder-child{
    background: rgba(43, 43, 80, 0.835)
}

.comments-active rect:first-child{
    fill: #5EC075;
}

.active-select{
    & rect:first-child{
        fill: #5EC075;
    }
}