.registration {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--left-bar-color);
}
.registration__form {
  width: 427px;
  border-radius: 23px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  background: var(--modal-bg-color);
}
.registration__input {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;

  border-radius: 8px;
  width: 100%;
  margin-bottom: 12px;
  padding: 8px 15px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: var(--font-color);
  border: 0.7px solid var(--modal-input-border-color);
  background: var(--modal-element-hover-bg-color);

  &::placeholder {
    color: var(--placeholder-color);
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.registration__header {
  padding: 0;
  margin: 0 0 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  color: var(--font-color);
}

.registration__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  color: var(--font-color);
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.registration__checkbox-hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.registration__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #DEDEEE;
  border-radius: 8px;
  border: 0.7px solid var(--modal-input-border-color);
}

.registration__checkbox input:checked ~ .registration__checkmark {
  background: var(--green-color);
}

.registration__checkmark:after {
  content: "";
  position: absolute;
  display: block;

}

.registration__checkbox input:checked ~ .registration__checkmark:after {
  display: block;
}

.registration__checkbox .registration__checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.registration__button {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;

  padding: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 32px 0 0;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s ease;

  background: var(--green-color);
  color: #EDEDEF;
  &:disabled {
    background: var(--modal-button-cancel-color);
    cursor: not-allowed;
  }
}
.registration__hint {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background: var(--green-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  text-align: left;
}
.registration__error {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background: var(--red-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 5px;
  text-align: left;
}