.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--header-color);
}
.login__form {
  width: 400px;
  border-radius: 9px;
  padding: 8px 15px;
  display: flex;
  flex-direction: column;
  background: var(--messages-color);
}
.login__input {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid transparent;


  border-radius: 9px;
  width: 100%;
  margin: 5px 0;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--font-color);
  background: var(--search-input-color);
  &::placeholder {
    color: var(--placeholder-color);
  }

  &.login__input_error {
    border: 1px solid red;
  }

}
.login__header {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 48px;
  color: var(--font-color);
}
.login__button {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;

  padding: 7px 15px;
  font-size: 20px;
  line-height: 27px;
  margin: 15px 0;
  border-radius: 9px;
  cursor: pointer;
  transition: .3s ease;

  background: var(--main-color);
  color: var(--font-color);
  &:hover {
    background: var(--active-folder-color);
    color: var(--messages-color);
  }
  &:disabled {
    background: #c3c3c3;
    color: var(--font-color);
    cursor: no-drop;
  }
}
