.settings-nav {
  position: relative;
  height: 100%;
  background: var(--settings-nav-color);
  width: 90px;
  overflow: hidden;
  transition: width .2s ease;

  z-index: 10;
  &:hover {
    width: 323px;
  }
}
.settings-nav__container {
  width: 323px;
  height: 100%;
}
.settings-nav__link {
  text-align: left;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: var(--user-info-settings-default-svg-fill);
  text-decoration: none;
  transition: .2s ease;
  height: 56px;
  svg path {
      transition: .2s ease;
  }
  &.settings-nav__link_default {
    svg {
      margin: 0 45px 0 34px;
      path {
        fill: var(--user-info-settings-default-svg-fill);
      }
    }
    &:hover {
      color: var(--font-color);
      background: var(--settings-left-bar-hover);
      svg path {
        fill: var(--user-info-settings-hover-svg-fill);
      }
    }
  }
  &.settings-nav__link_none {
    svg {
      margin: 0 45px 0 34px;
      path {
        fill: var(--user-info-settings-default-svg-fill);
      }
    }
    cursor: not-allowed;
    pointer-events: none;
  }
  &.settings-nav__link_header {
    height: 78px;
    border-bottom: 1px solid var(--separator-color);
    svg {
      margin: 0 45px 0 41px;
      path {
        stroke: var(--user-info-settings-default-svg-fill);
      }
    }
    &:hover {
      color: var(--font-color);
      background: var(--settings-left-bar-hover);
      svg path {
        stroke: var(--user-info-settings-hover-svg-fill);
      }
    }
  }
  &.router-link-exact-active {
    color: var(--font-color)!important;
    background: var(--settings-left-bar-hover)!important;
    svg path {
      fill: url(#paint0_linear)!important;
    }
  }
}
.settings-nav__list-container {
  height: calc(100% - 78px);
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}
.settings-nav__list {
  height: 100%;
  overflow-y: auto;
  text-align: left;
}

