.settings-nav {
  height: 100%;
  background: var(--settings-nav-color);
  width: 293px;
}
.settings-nav__header {
  height: 80px;
  padding: 17px 43px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--settings-nav-border-color);
  &:before {
    content: '';
    position: absolute;
    left: 17px;
    width: 9px;
    height: 9px;
    border-bottom: 1.5px solid #757589;
    border-left: 1.5px solid #757589;
    transform: rotate(45deg);
  }
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: var(--create-folder-header-color);
    text-decoration: none;
  }
}
.settings-nav__list {
  text-align: left;
}
.settings-nav__element {
  padding: 12px 44px;
  &.router-link-exact-active {
    background: var(--settings-active-link-color);
  }
}
.settings-nav__link-container {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--create-folder-header-color);
  &:last-of-type {
    margin-bottom: 0;
  }
}
.settings-nav__link {
  color: var(--create-folder-header-color);
  text-decoration: none;
}